<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-img src="../assets/images/bhd_logo/bhd_logo.png"></ion-img>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-list>
      
    </ion-list>
  </ion-content>
</ion-menu>
 
<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>