<app-tabs></app-tabs>
<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="accounts-container">
    <p>CUENTAS ({{aquan}})</p>
    <ion-card id="accounts-container" *ngFor="let account of accounts">
      <ion-card-header>
        <ion-img src="../../../assets/images/icon_account_gray.svg"></ion-img>
        <p>{{account.alias}} - {{account.number}}</p>  
      </ion-card-header>
      
      <ion-card-content>
        <p>RD$ {{account.availableAmount | number}}</p>
        <p>Balance disponible</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="accounts-container">
    <p>TARJETAS ({{cquan}})</p>
    <ion-card id="accounts-container" *ngFor="let card of cards">
      <ion-card-header>
        <ion-img src="../../../assets/images/icon_credit_card_gray.svg"></ion-img>
        <p>{{card.alias}} - {{card.number}}</p>  
      </ion-card-header>
      
      <ion-card-content>
        <p>RD$ {{card.availableAmountRD | number}}</p>
        <p>US$ {{card.availableAmountUS | number}}</p>
        <p>Balance disponible</p>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
