<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="../assets/images/bhd_logo/bhd_logo.png"></ion-img>
  <ion-input [(ngModel)]="user" type="string" placeholder="Documento de identidad"></ion-input>
  <ion-input [(ngModel)]="pass" type="password" placeholder="Contraseña"></ion-input>

  <ion-toggle color="light"></ion-toggle>
  <ion-text><p>Recuerda mi usuario</p></ion-text>

  <ion-button expand="block" (click)="login()">INICIAR SESIÓN</ion-button>
  
</ion-content>