<ion-tabs [selectedIndex]="myIndex">
  <ion-tab tabTitle="Productos" tabIcon="products">Mis productos</ion-tab>
  <ion-tab tabTitle="Transacciones" tabIcon="transaction">Transacciones</ion-tab>
  <ion-tab tabTitle="Ofertas" tabIcon="offers">Transacciones</ion-tab>
  <ion-tab tabTitle="Configuración" tabIcon="configuration">Transacciones</ion-tab>
</ion-tabs>
